input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: var(--light-brown);
  box-shadow: 24px;
  padding: 0.5rem 2rem;
  border-radius: 16px;
}

.form-title {
  color: var(--black);
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.form-error {
  color: red;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.floating-label {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  position: relative;
}

.credit-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--light-brown);
  border-radius: 10px;
  padding: 10px;
}

.credit-card-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.credit-card-input {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-logo {
  width: 60px;
  height: 45px;
}

.floating-label-input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  height: 100%;
  margin-bottom: 10px;
}

.floating-label-input:not(:placeholder-shown) + .floating-label-label {
  background: #fff;
  transform: translate(0, -200%);
  opacity: 1;
}

.card-input {
  width: 100%;
  margin: 0;
}

.valid-input {
  width: 50%;
  margin: 0;
  margin-bottom: 1rem;
}
