.product-card-button {
  padding: 0.5rem;
  color: var(--white);
  background-color: var(--medium-brown);
  border: 0;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.product-card-button:hover {
  background-color: var(--dark-brown);
}
