.floating-label {
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  position: relative;
}

.floating-label-input {
  border: none;
  padding: 0.5rem;
  height: 100%;
}

.floating-label-input:not(:placeholder-shown) + .floating-label-label {
  background: #fff;
  transform: translate(0, -200%);
  opacity: 1;
}
